<main>
  <section class="profile-top-bg">
    <div class="profile-bg-image">
      <span class="black-overlay"> </span>
    </div>
    <div class="upward-slash">
      <svg
        class="upward-slash-svg"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon class="svg-polygon" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="profile-main">
    <div class="container profile-card-container">
      <div class="profile-card">
        <div class="content-wrap">
          <div class="profile-card-header">
            <div class="profile-card-header-image-container">
              <div style="position: relative">
                <img
                  src="https://demos.creative-tim.com/notus-js/assets/img/team-2-800x800.jpg"
                  alt="Profile Picture"
                  class="profile-card-header-image"
                />
              </div>
            </div>
            <div class="profile-card-header-actions">
              <div class="wrapper">
                <button class="action-button">Connect</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
