<main class="main">
  <section class="profile-top-bg">
    <div
      class="profile-bg-image"
      [style]="
        user()?.profileCoverImage
          ? 'background-image: url(' + user()?.profileCoverImage + ')'
          : ''
      "
    >
      <span id="black-overlay"></span>
    </div>
    <div class="main__unique2" style="transform: translateZ(0px)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="profile-main">
    <div class="main__unique5">
      <div>
        <div>
          <div class="main__unique20">
            <div class="main__unique6">
              <div class="main__unique8">
                <img
                  alt="..."
                  [src]="
                    user()?.profilePicture
                      ? user()?.profilePicture
                      : 'https://api.dicebear.com/8.x/personas/svg?radius=50&backgroundType=solid' +
                        '&seed=' +
                        user()?.email
                  "
                />
              </div>
            </div>
            <div class="main__unique7">
              <div class="main__unique9">
                @if (ownProfile) {
                <button type="button">Edit</button>
                } @else {
                <button type="button">Connect</button>
                }
              </div>
            </div>
            <div class="main__unique10">
              <div class="main__unique11">
                <div class="main__unique16">
                  <span class="main__unique12">22</span
                  ><span class="main__unique13">Friends</span>
                </div>
                <div class="main__unique16">
                  <span class="main__unique14">10</span
                  ><span class="main__unique15">Recipes</span>
                </div>
                <div class="main__unique17">
                  <span class="main__unique18">89</span
                  ><span class="main__unique19">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="main__unique21">
            <h3>{{ user()?.name }}</h3>
            <div class="main__unique22">
              <i class="main__unique24"></i>
              <span>{{ user()?.city }}</span
              ><span>{{ user()?.country ? ", " + user()?.country : "" }}</span>
            </div>
          </div>
          <div class="main__unique28">
            <div class="main__unique29">
              <div class="main__unique30">
                @if (user()?.aboutMe) {
                <p>
                  {{ user()?.aboutMe }}
                </p>
                } @else {
                <p>
                  Welcome to the whimsical realm of my 'About Me.' Here, words
                  mingle in delightful disarray, concocting a blend of essence
                  and wit. Just a hint of humor, a sprinkle of introspection,
                  and a dash of charm await.
                </p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
