<nav>
  <mat-toolbar color="primary">
    <span class="title" [routerLink]="['/home']" aria-label="Home Button"
      >Recipe Reverie</span
    >

    <div class="navItems">
      @if (!auth()?.valid) {
      <button mat-button [routerLink]="['/auth/login']">Login</button>
      }
      <div class="profile-image-container">
        <img
          class="profile-image"
          [src]="auth()?.valid ? profileImage2 : profileImage"
          [alt]="auth()?.valid ? auth()?.email + ' Avatar' : 'Avatar'"
          [routerLink]="['/profile']"
        />
      </div>
    </div>
  </mat-toolbar>
</nav>
