<nav>
  <mat-toolbar color="primary">
    <span class="title" [routerLink]="['/home']" aria-label="Home Button"
      >Recipe Reverie</span
    >

    <div class="navItems">
      @if (!userDetails()) {
      <button mat-button [routerLink]="['/auth/login']">Login</button>
      } @else {
      <button mat-button [routerLink]="['/accounts/setup-profile']">
        setup
      </button>
      }
      <div class="profile-image-container">
        @if(userDetails()) {
        <img
          class="profile-image"
          [src]="
            userDetails()?.profilePicture
              ? userDetails()?.profilePicture
              : profileImage2 + '&seed=' + userDetails()?.email
          "
          [alt]="userDetails()?.email + ' Avatar'"
          [routerLink]="['/accounts/profile']"
        />
        } @else {
        <img
          class="profile-image"
          [src]="profileImage"
          [alt]="'Default Avatar'"
          [routerLink]="['/accounts/profile']"
        />
        }
      </div>
    </div>
  </mat-toolbar>
</nav>
