<nav>
  <mat-toolbar color="primary">
    <span class="title">Recipe Reverie</span>

    <div class="navItems">
      <a
        mat-icon-button
        aria-label="Home Button"
        [routerLink]="['/home']"
        routerLinkActive="active"
      >
        <mat-icon>home</mat-icon>
      </a>
      <div class="profile-image-container">
        <img
          class="profile-image"
          src="https://api.dicebear.com/8.x/avataaars/svg?backgroundColor=b6e3f4,c0aede,d1d4f9"
          alt="Avatar"
        />
      </div>
    </div>
  </mat-toolbar>
</nav>
