<main>
  <div class="container form-container">
    <div class="details-form">
      <mat-stepper
        [linear]="linearSteps"
        [orientation]="(windowObserver | async) || 'horizontal'"
      >
        <mat-step>
          <ng-template matStepLabel>
            Finish setting up your profile
          </ng-template>
          <div class="intro">
            <h1>Finish setting up your profile</h1>
            <div class="details">
              <img
                src="../../../assets/profile_data.svg"
                alt="Profile data image"
              />
              <p>
                We're gonna ask you a few questions to get to know you better.
                <br />
                Fill them out, and we'll have you on your way to greatness in a
                couple of minutes
              </p>
            </div>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>

        <mat-step
          [stepControl]="phoneNumberForm"
          [editable]="false"
          [errorMessage]="getPhoneNumberErrors()"
        >
          <ng-template matStepLabel>What is your phone number?*</ng-template>
          <form [formGroup]="phoneNumberForm" (submit)="submitPhone()">
            <mat-form-field>
              <mat-label>Country</mat-label>

              <mat-select
                [formControl]="countryCodeControl"
                [disabled]="phoneSaved"
              >
                <mat-option>Country</mat-option>
                @for (country of countries; track country) {
                <mat-option [value]="country.code">
                  {{ country.name }}
                </mat-option>
                }
              </mat-select>
              <mat-hint>Pick your country</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Phone Number</mat-label>

              <input
                type="text"
                matInput
                placeholder="0720 000 000"
                formControlName="phoneNumber"
                [disabled]="phoneSaved"
              />
              <mat-hint>Enter your phone number here</mat-hint>

              @if (phoneNumberControl.invalid) {
              <mat-error>{{ getPhoneNumberErrors() }}</mat-error>
              }
            </mat-form-field>

            @if (loading) {
            <app-loading-button
              [color]="'accent'"
              [variant]="'stroked'"
              [contentText]="'Saving...'"
              aria-label="Saving"
            ></app-loading-button>
            } @else if (!phoneSaved && phoneValid) {
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              aria-label="Save Phone Number"
            >
              Save
            </button>
            } @else if (!phoneSaved && !phoneValid) {
            <button mat-button disabled aria-disabled="true" aria-label="Save">
              Save
            </button>
            } @else {
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              aria-label="Phone Number has been saved"
              disabled
            >
              Saved!
            </button>
            }
          </form>
          <div>
            <button
              mat-button
              matStepperNext
              type="button"
              [disabled]="!phoneValid || !phoneSaved"
            >
              Next
            </button>
          </div>
        </mat-step>

        <mat-step
          [stepControl]="aboutMeForm"
          [optional]="optionalStep"
          [errorMessage]="getAboutMeErrors()"
        >
          <ng-template matStepLabel>A bit about you </ng-template>
          <form [formGroup]="aboutMeForm" (submit)="submitAboutMe()">
            <mat-form-field>
              <mat-label>About Me</mat-label>

              <textarea
                matInput
                placeholder="A little bit about myself"
                formControlName="aboutMe"
              >
              </textarea>
              <mat-hint align="start">
                Tell us something about who you are
              </mat-hint>
              <mat-hint align="end">
                {{ aboutMeControl.value.length }} / 300
              </mat-hint>

              @if(aboutMeControl.invalid) {
              <mat-error>{{ getAboutMeErrors() }}</mat-error>
              }
            </mat-form-field>
            @if (loading) {
            <app-loading-button
              [color]="'accent'"
              [variant]="'stroked'"
              [contentText]="'Saving...'"
              aria-label="Saving"
            ></app-loading-button>
            } @else if (!aboutMeSaved && aboutMeValid) {
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              aria-label="Save About Me"
            >
              Save
            </button>
            } @else if (!aboutMeSaved && !aboutMeValid) {
            <button mat-button disabled aria-disabled="true" aria-label="Save">
              Save
            </button>
            } @else {
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              aria-label="About Me has been saved"
              disabled
            >
              Saved!
            </button>
            }
          </form>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ user()?.name ? user()?.name : "User Name" }}
              </mat-card-title>
              <mat-card-subtitle>
                {{ user()?.email ? user()?.email : "email@email.com" }}
              </mat-card-subtitle>
              <img
                mat-card-avatar
                [src]="
                  user()?.profilePicture
                    ? user()?.profilePicture
                    : defaultAvatar
                "
              />
            </mat-card-header>
            <mat-card-content>
              <p>{{ aboutMeControl.value }}</p>
            </mat-card-content>
          </mat-card>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </mat-step>

        <mat-step
          [optional]="optionalStep"
          [errorMessage]="getProfilePictureErrors()"
          [stepControl]="profilePictureForm"
        >
          <ng-template matStepLabel> Profile picture </ng-template>
          <form
            [formGroup]="profilePictureForm"
            (submit)="submitProfilePicture()"
          >
            <mat-form-field>
              <mat-label>Profile Picture</mat-label>
              <input
                matInput
                type="url"
                placeholder="https://imageurl.place"
                formControlName="profilePicture"
              />
              <mat-hint>
                Enter the link to the image you want to use as your profile
                picture
              </mat-hint>
            </mat-form-field>

            @if (loading) {
            <app-loading-button
              [color]="'accent'"
              [variant]="'stroked'"
              [contentText]="'Saving...'"
              aria-label="Saving"
            ></app-loading-button>
            } @else if (!profilePictureSaved && profilePictureValid) {
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              aria-label="Save Profile Picture"
            >
              Save
            </button>
            } @else if (!profilePictureSaved && !profilePictureValid) {
            <button mat-button disabled aria-disabled="true" aria-label="Save">
              Save
            </button>
            } @else {
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              aria-label="Profile picture has been saved"
              disabled
            >
              Saved!
            </button>
            }
          </form>

          <mat-card class="profile">
            <mat-card-header>
              <mat-card-title>
                {{ user()?.name ? user()?.name : "User Name" }}
              </mat-card-title>
              <mat-card-subtitle>
                {{ user()?.email ? user()?.email : "email@email.com" }}
              </mat-card-subtitle>
              <img
                mat-card-lg-image
                [src]="profilePictureControl.value"
                (error)="imageLoadFail('profilePicture')"
                #img
                (load)="imageLoadSucceed('profilePicture')"
                class="profile-picture"
                alt="Profile Picture"
              />
            </mat-card-header>
            @if (imageLoadError && profilePictureControl.touched) {
            <mat-card-content>
              <img
                src="../../../assets/warning.svg"
                alt="Warning Image"
                aria-label="Warning Image"
                class="warning-image"
              />
              <p>
                That image appears to be invalid. Check the link and try again
              </p>
            </mat-card-content>
            }
          </mat-card>

          <button mat-button matStepperPrevious type="button">Back</button>
          @if (profileCoverImageControl.touched) {
          <button mat-button matStepperNext type="button">Next</button>
          } @else {
          <button mat-button matStepperNext type="button">Skip</button>
          }
        </mat-step>

        <mat-step [optional]="optionalStep">
          <ng-template matStepLabel> Profile background image </ng-template>
          <div
            class="profile-cover"
            [style]="
              'background-image: url(' + profileCoverImageControl.value + ');'
            "
          >
            <form
              [formGroup]="profileCoverImageForm"
              (submit)="submitProfileCover()"
            >
              <mat-form-field>
                <mat-label>Cover Photo</mat-label>
                <input
                  matInput
                  type="url"
                  placeholder="https://imageurl.place"
                  formControlName="profileCoverImage"
                />
                <mat-hint>
                  Enter the link to the image you want to use as your cover
                  photo
                </mat-hint>
              </mat-form-field>

              @if (loading) {
              <app-loading-button
                [color]="'accent'"
                [variant]="'stroked'"
                [contentText]="'Saving...'"
                aria-label="Saving"
              ></app-loading-button>
              } @else if (!profileCoverImageSaved && profileCoverValid) {
              <button
                mat-stroked-button
                color="primary"
                type="submit"
                aria-label="Save Profile Cover"
              >
                Save
              </button>
              } @else if (!profileCoverImageSaved && !profileCoverValid) {
              <button
                mat-button
                disabled
                aria-disabled="true"
                aria-label="Save"
              >
                Save
              </button>
              } @else {
              <button
                mat-stroked-button
                color="primary"
                type="submit"
                aria-label="Profile cover has been saved"
                disabled
              >
                Saved!
              </button>
              }
            </form>
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ user()?.name ? user()?.name : "User Name" }}
                </mat-card-title>
                <mat-card-subtitle>
                  {{ user()?.email ? user()?.email : "email@email.com" }}
                </mat-card-subtitle>
                <img
                  mat-card-avatar
                  [src]="
                    user()?.profilePicture
                      ? user()?.profilePicture
                      : defaultAvatar
                  "
                />
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{ user()?.aboutMe ? user()?.aboutMe : defaultAboutMe }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <button
            mat-button
            matStepperNext
            type="button"
            [routerLink]="['/accounts/profile']"
          >
            Finish
          </button>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</main>
