// Custom Theming for Angular Material
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material.
@include mat.core();

// Import variables from _variables.scss
@import "app/shared/utilities/variables";

// Define palettes
$recipe-reverie-primary: mat.define-palette($equity-brown-palette);
$recipe-reverie-accent: mat.define-palette($equity-gray-palette, 600, 300, 900);

// The warn palette is optional (defaults to red).
$recipe-reverie-warn: mat.define-palette(mat.$red-palette);

// Create the theme object.
$recipe-reverie-theme: mat.define-light-theme(
  (
    color: (
      primary: $recipe-reverie-primary,
      accent: $recipe-reverie-accent,
      warn: $recipe-reverie-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
@include mat.all-component-themes($recipe-reverie-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;

  @media (min-width = $--sm) {
    max-width: $--sm;
  }
  @media (min-width = $--md) {
    max-width: $--md;
  }
  @media (min-width = $--lg) {
    max-width: $--lg;
  }
  @media (min-width = $--xl) {
    max-width: $--xl;
  }
  @media (min-width = $--2xl) {
    max-width: $--2xl;
  }
}
