<header>
  <div class="header-titles">
    <h1>Recipe Reverie</h1>
    <h2>Explore, Share, and Indulge in Culinary Delights</h2>
  </div>

  <div class="cards">
    <div class="card">
      <div class="card-title">
        <h1>Connect</h1>
      </div>
      <div class="card-body">
        <p>Join a vibrant community of food enthusiasts.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h1>Discover</h1>
      </div>
      <div class="card-body">
        <p>Explore diverse, mouthwatering recipes from around the globe.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h1>Create</h1>
      </div>
      <div class="card-body">
        <p>Unleash your culinary creativity.</p>
      </div>
    </div>
  </div>

  <div class="explore">
    <span>Explore</span>
    <img
      src="https://alemacedo.com/files/images/codepen/svg/image__long-arrow.svg"
      alt="long arrow pointing down"
    />
  </div>
</header>
